<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/base.css">
    <link rel="stylesheet" href="/layout.css">
    <link rel="stylesheet" href="/modules.css">
    <title>Document</title>
</head>

<body>
    <main>
        <section id="bookShelvs">
            <% booksResult.forEach(ele=>{ %>
                <div>
                    <img src=" <%= ele.img %> " alt="">
                    <h2> title:
                        <%= ele.title %>
                    </h2>
                    <h3>Author:
                        <%= ele.author %>
                    </h3>
                    <p id="dis">
                        <%= ele.description %>
                    </p>
                    <form action="/books" method="post">
                        <input type="hidden" name="title" value="<%= ele.title %>">
                        <input type="hidden" name="author" value="<%= ele.author %>">
                        <input type="hidden" name="description" value="<%= ele.description %>">
                        <input type="hidden" name="image_url" value="<%= ele.img %>">
                        <input type="hidden" name="isbn" value="<%= ele.isbn %>">
                        <button type="submit">Select this Book</button>
                    </form>
                </div>
                <% }) %>
        </section>
    </main>
</body>

</html>